.Categories {
    
}

.categoryList a {
    text-decoration: none;
    color: black;
}

a.active > .categoryItem {
    background: #e4dede;
}

.categoryItem {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: #fff;
}

.categoryItem:hover {
    background-color: #e4dede;
}
