Header {
    grid-area: header;
}

.Header {
    border: 1px solid black;
    background: #e4dede;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end; 
}

.Btn {
    height: 100%;
    width: 95px;
}

.Btn:hover {
    cursor: pointer;
}
