Header {
    grid-area: header;
}

.Header {
    border: 1px solid black;
    background: #e4dede;
    display: flex;
    justify-content: flex-end;
}

.regBtn {
    height: 100%;
}

.regBtn:hover {
    cursor: pointer;
}
